 /** {
  border: solid;
}*/

.contenido {
  margin: 0em 5em 5em 5em;
}

.titulo {
  text-align: center;
  padding: 2em;
  color: white;
}

img {
  max-width: 100%;
  width: 50%;
}


.circuit{
  background-color: white;
  text-align: center;
  margin-left: 20em;
  margin-right: 20em;
  margin-top: 2em;
  border: solid;
  border-style: ridge;
}
 .imagen-circuito{
   padding: 1em;
 }
.descarga-fzz{
  clear: both;
  display: inline-block;
  margin-top: 2em;
  margin-bottom: 1em;
}

.download{
  background-color: #b51515;
  text-decoration: none;
  color: white;
  padding: 0.4em;
  border-radius: 0.1em;
}

.download:hover {
background-color: #961212;
}
