* { box-sizing: border-box;}

body {margin:0px;}
.clearfix { clear: both;}

/*MAS COSAS DE LA PORTADA*/
 #image-over {
 margin-bottom: 3%;
 width: 15%;
 text-align: center;
}

#buy-now {
margin-bottom: 1%;
margin-left: 42%;
width: 15%;
text-align: center;
padding: 1%;
}

#watch-trailer {
margin-bottom: 20%;
margin-left: 42%;
width: 15%;
text-align: center;
padding: 1%;
}
/*---------------------------------------------------------*/
.wallpaper {
  background-image: url("https://wallpapercave.com/wp/wp2163572.jpg");
  width: 100%;
  border-bottom: solid;
  border-color: #b51515;
  background-repeat: no-repeat;
  max-width: 100%;
}
/*-------------------------ARTICULO 2-----------------------*/
#featured-news {
 border: 1px solid black;
 background-image: url("https://d3hmvhl7ru3t12.cloudfront.net/img/pages/home/fight-for-the-future/volskaya-2560-9570e63637d0f4eb811cc11cc3b91005987bc21949bf8d9d48ebb9b4e67aa872f58666702415c32aef6c85fb36b567717857fb868ed9940280173a331e9b7ddf.jpg");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
}

#featured-text {
 margin-left: 39.5%;
 margin-right: 42%;
 margin-top: 2%;
 text-align: center;
 width: 20%;
 padding: 1%;
 font-family: 'big_noodle';
 font-size: 300%;
 color: white;
}

.featured-video1 {
 margin-left: 20%;
 display: inline-block;
 margin-top: 1%;
 text-align: center;
 padding: 0%;
}
.featured-video2 {
 margin-left: 2%;
 margin-right: 2%;

 display: inline-block;
 margin-top: 1%;
 text-align: center;
 padding: 0%;
}
.featured-video3 {
 margin-right: 20%;
 display: inline-block;
 margin-top: 1%;
 text-align: center;
 padding: 0%;
}

#view-all-news {
 margin-left: 39.5%;
 margin-right: 42%;
 margin-top: 2%;
 text-align: center;
 width: 20%;
 padding: 1%;
 margin-bottom: 3%;
}
/*---------------------------------------------------------*/

 /*-------------------------ARTICULO 2-----------------------*/
#fight-future {
 background-image: url("img/fondo.png");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
 color: white;
 border-bottom: solid;
 border-color: #b51515;
}
#fight-title {
 text-align: center;
 width: 25%;
 margin-left: 36.5%;
 margin-top: 3%;
 padding: 0.5%;
 margin-bottom: 1%;
 font-family: 'big_noodle';
 font-size: 250%;
}

#fight-text {
 text-align: center;
 width: 35%;
 margin-left: 26%;
 margin-bottom: 1%;
 padding-right: 7%;
 padding-left: 7%;
}

#fight-text p1 {
  font-family: 'futura';
}

#fight-text p2 {
  font-family: Arial, sans-serif;
}

#fight-text p3 {
  font-family: Arial, sans-serif;
}

#fight-text p4 {
  font-family: Arial, sans-serif;
}

#explore-game {
 text-align: center;
 width: 20%;
 margin-left: 39.5%;
 margin-bottom: 3%;
 padding: 1%;
}
/*---------------------------------------------------------*/

/*------------------------ MENU 1------------------------- */
/* Add a black background color to the top navigation */
.topnav {
   background-color: #111111;
   overflow: hidden;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/* Style the links inside the navigation bar */
.topnav a {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

/* Add an active class to highlight the current page */
.active {
   background-color: #b51515 !important;
   color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
   display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
   float: left;
   overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
   font-size: 17px;
   border: none;
   outline: none;
   color: white;
   padding: 14px 16px;
   background-color: inherit;
   font-family: inherit;
   margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
   float: none;
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
   background-color: #555;
   color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
   background-color: #ddd;
   color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
   display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
 .topnav a:not(:first-child) {display: none;}
 .topnav a.icon {
   float: right;
   display: block;
 }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
 .topnav.responsive {position: relative;}
 .topnav.responsive a.icon {
   position: absolute;
   right: 0;
   top: 0;
 }
 .topnav.responsive a {
   float: none;
   display: block;
   text-align: left;
 }
 .topnav.responsive .dropdown {float: none;}
 .topnav.responsive .dropdown-content {position: relative;}
 .topnav.responsive .dropdown .dropbtn {
   display: block;
   width: 100%;
   text-align: left;
 }
}
 /*--------------------------------------------------------*/

/*------AQUI ESTA TOD0 LO QUE HAY DENTRO DE LA PORTADA-----*/
 .hero-image {
   border: 1px solid black;
 background-image: url("https://media.redadn.es/imagenes/overwatch-pc-ps4-xbox-one_291061.jpg");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
 }
 .hero-image2 {
 border: 1px solid black;
 background-image: url('bg1.jpg');
 background-size: 115%;
 position: relative;
 }
 .hero-text {
 text-align: center;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: white;
 margin-top: 50px !important;
 }


 .heroe-text {
 margin-top: 10%;
 font-family: 'big_noodle';
 font-size: 250%;
 color: white;
 }


 .hero-text  {
 border: none;
 outline: 0;
 display: inline-block;
 padding: 0px 25px;
 color: black;
 background-color: #ddd;
 text-align: center;
 cursor: pointer;
 }

 .hero-text :hover {
 background-color: #555;
 color: white;
 }
/*---------------------------------------------------*/

/*--------------------BOTONES------------------------*/
.button-cmamut {
width: 5%; /*Este solo para view watch-trailer*/
vertical-align: middle;
padding: 15px 2.5%;
border-radius: 3px;
/*Borde redondo*/border: 3px solid transparent; /*El solid transparent lo hace más rechoncho*/
font-family: futura,century gothic,arial,sans-serif;
font-weight: 700;/*Si lo quito el subrayado se quita*/
/*font-size: 1.6rem;*/
text-align: center;
/*line-height: 1;*/
letter-spacing: .025em; /*Espacio entre letras*/
/*text-shadow: none;*/
text-decoration: none; /*Quitar el subrayado*/
/*outline: none;*/
background-color: #00a5e2;
color: #fefefe;
margin-top: 5em;
display: run-in;
text-align: center;

}

/*BOTON DE BUY NOW*/
.button-cmamut-orange {
 width: 15em;
 background-color: #ffb033;
 color: #fefefe;
 display: inline-block;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/*BOTON DE VIEW ALL NEWS*/
.button-cmamut-blue {
 background-color: #00a5e2;
 color: #fefefe;
}

/*BOTON DE WATCH TRAILER*/
.button-cmamut-white {
 background-color: #fff;
 color: #333;
}
/*-------------------------------------*/
/*-------ICONO PLAY DE WATCH TRAILER (EL BOTON)-----*/
.image-iconsito {
 width: 1.5%;
 height: 1.5%;
 margin-right: 4px;
 margin-top: 10px;
 vertical-align: text-bottom;
}
/*--------------------------------------------------*/

/*---------------- ARTICULO 4 (1/2) ----------------*/

#heroe-selector {
  border: 1px solid black;
background-image: url(https://d3hmvhl7ru3t12.cloudfront.net/img/scene/candy-895e91cbc198218dbe56fed67b590a7c37a8bc3ef29d4b8c2989edf2196cfdb4b6150e64cb6f57a01a26268ae764b4cc22da52168121287e68aa8a9891efd616.jpg);
}

#need-heroes {
 text-align: center;
 width: 25%;
 margin-left: 36.5%;
 margin-top: 3%;
 padding: 0.5%;
 margin-bottom: 1%;
 font-family: 'big_noodle';
 font-size: 250%;
}

#text-heroes {
 text-align: center;
 width: 35%;
 margin-left: 30%;
 padding: 2%;
 margin-bottom: 8%;
 font-family: 'futura';
}
/*---------------------------------------------*/

/*-------------ESTILOS DE LETRAS---------------*/
/*LETRA BIG NOODLE*/
@font-face {
 font-family: 'big_noodle';
 src: url('big_noodle_titling.ttf');
}
/*LETRA FUTURA T BOLD*/
@font-face {
  font-family: 'futura';
  src: url('Futura T Bold.ttf')
}
/*---------------------------------------------*/

/*------------------ARTICULO 4 (2/2) -----------------*/
}
#line-heroes{
}

.line1 {
  border: 1px solid black;
 overflow: hidden;
background-color: #405275;
 text-align: center;
 border-radius: 10px;
 -ms-transform: skew(25rad);
 transform: skew(25rad);
 display: inline-block;
 margin-left: 0.5%;

}

.line1:hover{
  border: 1px solid black;
  background-color: #ff9c00;
  /*width: calc(100% + 10px); NO FUNCIONA BIEN PREGUNTAR AL PROFE*/

}
.line2 {
  border: 1px solid black;
 overflow: hidden;
background-color: #405275;

 text-align: center;
 border-radius: 10px;
 -ms-transform: skew(25rad);
 transform: skew(25rad);
 display: inline-block;
 margin-bottom: 5%;
 margin-left: 0.5%;
 margin-top: 1%;
}

.line2:hover{
  border: 1px solid black;
  background-color: #ff9c00;
  /*width: calc(100% + 10px); NO FUNCIONA BIEN PREGUNTAR AL PROFE*/
}
/*---------------------------------------------*/

/*-----------------FOOTER----------------------*/
footer {}
#begin-watch {
  background-image: url("img/wallpaper.jpg");
  border-top: solid;
  border-color: #b51515;
  background-repeat: no-repeat;
  background-size: 100%;
}
#begin-image {
 float: left;
 width: 20%;
 padding-right: 12.5%;
 margin-top: -8%;
}
#begin-title {
 float: right;
 margin-right: 22%;
 text-align: center;
 width: 20%;
 padding: 1%;
 font-family: 'big_noodle';
 font-size: 250%;
}
#begin-text {
 float: right;
 margin-right: 22%;
 margin-top: 4%;
 text-align: center;
 width: 20%;
 padding: 1%;
 font-family: 'futura';
}
.cmamutespecial {
  width: 5%; /*Este solo para view watch-trailer*/
  vertical-align: middle;
  padding: 6px 1em;
  border-radius: 3px; /*Borde redondo*/
  border: 3px solid transparent; /*El solid transparent lo hace más rechoncho*/
  font-family: futura,century gothic,arial,sans-serif;
  font-weight: 700;/*Si lo quito el subrayado se quita*/
  /*font-size: 1.6rem;*/
  text-align: center;
  /*line-height: 1;*/
  letter-spacing: .025em; /*Espacio entre letras*/
  /*text-shadow: none;*/
  text-decoration: none; /*Quitar el subrayado*/
  /*outline: none;*/
   background-color: #ffb033;
   color: #fefefe;
}
#begin-cmamut {
 float: right;
 margin-right: 23%;
 text-align: center;
 width: 20%;
}
#begin-image2 {
  float: right;
  margin-right: 22%;
  margin-top: 3%;
  text-align: center;
  width: 20%;
  padding: 1%;
}

#stay-conected {
  background-image: url(https://d3hmvhl7ru3t12.cloudfront.net/img/pages/buy/buy-bar-bg-b848f091bff6072bda7671311ce459727decd0281e85902958bc8d6b0b4d342875ad58385fa809928fd9b6bff0f7945217aed6e32581b6718a12fb99ab240f1c.jpg);

}
/*---------------------------------------------*/

/*--------------EFECTO PARALLAX---------------*/
  .parallax {
   /* The image used */
   background-image: url("img/parallax.JPG");
   /* Set a specific height */
   min-height: 500px;
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  }
/*---------------------------------------------*/

#stay-conected {
  text-align: center;
  font-family: "Big Noodle Too", impact, sans-serif;
  font-style: italic;
  font-size: 250%;
  color: white;
}


.fal {
  padding: 0.56em;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  margin-top: -20%;
}

.fal:hover {
    opacity: 0.7;
}

.fa-facebook {

  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
background: #bb0000;
color: white;
}

.fa-instagram {
background: #CA2E93;
color: white;
}


#content {
  margin-left: 15%;
  margin-right: 15%;
}



ol {
  margin-left: 3%;
}
.comment {
  color: #7E7E7E;
}

.color-orange {
color: #CC6600;
}

.columnas {
  float: left;
  width: 33.3333333%;
  padding: 1em;
}

.tarjeta {
  margin-top: 2.5em;
  margin-bottom: 2em;
  background-color: white;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1em;

}

.title-soft{
text-align: center;
}

.img-soft{
    width: 35%;
}

.txt-soft {
  color: black;
  text-align: left;
}

.tarjeta {
  text-align: center;
}

.tarjeta::after {
content: " ";
display: inline-table;
clear: both;
}

.img-arduino {
  margin: 4em;
}

.img-fri{
  margin: 3em;
}

.button-prueba {
  margin-left: 2em !important;
}
/**/
  /*ME FALTA PONER LOS ARTICULOS AIUDAAAAAAAAAAAAAAAAAA*/
/**/
